* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mailValidate {
    background-color: wheat;
    width: 1000px;
    height: 250px;
    margin: 5rem auto;
    border: 5px solid lightgray;
    border-radius: 10px;
    box-shadow: 1px 1px black;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formGroup>a {
    text-decoration: none;
    color: black;
}

/* #region My Little Framework*/